.gitsvg{
    display: none;
}
.linkD{
    display: none;
}
/* [data-topic="overview"] {
    display: none;
}
[data-topic="comparison"] {
    display: none;
}
[data-topic="analysis"] {
    display: none;
}
[data-topic="short"] {
    display: none;
}
[data-topic="secB"] {
    display: none;
}
[data-topic="secC"] {
    display: none;
} */
